<div class="calendar">
  <div class="date">
    <span class="month">{{
      calendarService.selectedDate$ | async | date : "EEE"
    }}</span>
    <div class="day">
      {{ calendarService.selectedDate$ | async | date : "dd" }}
    </div>
  </div>
  <div class="scheduler">
    <div class="column">
      @for (time of timeSlots; track $index) {
      <span class="time"> {{ time.title }} </span>
      }
    </div>
    @if (events.length) {
    <div #eventElement class="events">
      @for (event of events; track $index) {
      <div
        cdkDrag
        cdkDragLockAxis="y"
        (cdkDragEnded)="onDrop('event' + event.id)"
        [cdkDragBoundary]="eventElement"
        (cdkDragStarted)="onDragStarted()"
        [style.top]="calculateMarginTop(event.startTime)"
        [style.height]="calculateHeight(event.startTime, event.endTime)"
        [style.left]="calculateMarginLeft(event)"
        class="event"
        [id]="'event' + event.id"
        (mouseup)="onClickEvent(event, 'event' + event.id)"
      >
        {{ event.title }}
      </div>
      }
    </div>
    }
  </div>
</div>
