$blue-color: rgb(26, 115, 232);

.calendar {
  background-color: #fff;
  padding: 20px;
  font-size: 12px;
  max-height: 70vh;
  overflow: auto;

  .date {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin-inline-start: 20px;
    .month {
      color: $blue-color;
      margin-bottom: 2px;
    }
    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      font-size: 24px;
      background-color: $blue-color;
    }
  }

  .scheduler {
    display: flex;
    gap: 10px;
    .column {
      display: flex;
      flex-direction: column;

      .time {
        width: 40px;
        height: 40px;
      }
    }
    .events {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      border: 1px solid #ccc;
      position: relative;
      .event {
        margin-inline-start: 3px;
        cursor: pointer;
        background-color: #039be5;
        color: #fff;
        font-size: 10px;
        border-radius: 8px;
        padding: 0 4px;
        width: 110px;
        position: absolute;
        left: 0;
      }
    }
  }
}
