.main-layout {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    .mat-toolbar {
      background-color: transparent;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .date .mat-mdc-button {
      min-width: unset;
      width: 42px;
      .mat-icon {
        width: 32px;
        height: 32px;
        font-size: 24px;
        display: flex;
        align-items: center;
      }
    }
  }
}
